{{- /* @param Name string */ -}}
{{- /* @param Age int */ -}}
{{- /* @param Score int64 */ -}}
{{- /* @param Price float64 */ -}}
{{- /* @param Active bool */ -}}
=== Basic Types ===

Name: {{ .Name }}
Age: {{ .Age }}
Score: {{ .Score }}
Price: ${{ .Price }}
Active: {{ .Active }}
