{{- /* @param Metadata map[string]string */ -}}
{{- /* @param Counters map[string]int */ -}}
{{- /* @param Prices map[string]float64 */ -}}
{{- /* @param Features map[string]bool */ -}}
=== Map Types ===

Metadata:
{{- range $key, $value := .Metadata }}
  - {{ $key }}: {{ $value }}
{{- end }}
Counters:
{{- range $key, $value := .Counters }}
  - {{ $key }}: {{ $value }}
{{- end }}
Prices:
{{- range $key, $value := .Prices }}
  - {{ $key }}: ${{ $value }}
{{- end }}
Features:
{{- range $key, $value := .Features }}
  - {{ $key }}: {{ $value }}
{{- end }}
